<nav class="navbar navbar-inverse" role="navigation">

  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-cog"></i>
      </button>
      {{#link-to 'index' class="navbar-brand"}}BruteHack <sup>alpha</sup>{{/link-to}}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      {{#unless inLoginOrSignup}}
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            {{#link-to '' class="dropdown-toggle" data-toggle="dropdown"}}
              <i class="fa fa-user"></i>
              Fayimora Femi-Balogun
              <b class="caret"></b>
            {{/link-to}}

            <ul class="dropdown-menu">
              <li>{{link-to 'My Profile' 'user' session.currentUser.handle}}</li>
              <li>{{link-to 'My Groups'}}</li>
              <li class="divider"></li>
              {{#if session.isAuthenticated}}
                <li><a {{ action 'invalidateSession' }}>Logout</a></li>
              {{else}}
                <li>{{link-to 'Login' 'login'}}</li>
              {{/if}}
            </ul>
          </li>
        </ul>

        <form class="navbar-form navbar-right" role="search">
          <div class="form-group">
            <input type="text" class="form-control input-sm search-query" placeholder="Search">
          </div>
        </form>
      {{else}}
      <ul class="nav navbar-nav navbar-right">
        <li class="">{{link-to 'Create an account' 'signup'}}</li>
        <li class="">{{#link-to 'index'}}<i class="fa fa-chevron-left"></i>&nbsp;&nbsp; Back to Homepage{{/link-to}}</li>
      </ul>
      {{/unless}}
    </div><!-- /.navbar-collapse -->
  </div> <!-- /.container -->
</nav>

